name: Build and Test Workflow
env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  INGESTOR_IMAGE_NAME: ${{ github.repository }}
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_call:

jobs:
  lint:
    name: Lint files
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v2
        with:
          go-version: '1.25'
      - name: generate
        run: go generate ./internal/webserver
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9.1.0
        with:
          version: v2.4.0
      - name: Run markdownlint
        uses: DavidAnson/markdownlint-cli2-action@v20
        with:
          # Lint all markdown files in the repo
          globs: '**/*.md'


  run_tests:
    runs-on: ${{matrix.build.os}}
    strategy:
      fail-fast: false
      matrix:
        build:
        - goos: linux
          goarch: amd64
          os: ubuntu-22.04
        - goos: windows
          goarch: amd64
          os: windows-latest
    steps:
    - uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'

    - name: Set up gotestfmt
      uses: gotesttools/gotestfmt-action@v2
      with:
        # Optional: pass GITHUB_TOKEN to avoid rate limiting.
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Generate REST API and Docs
      run: go generate ./internal/webserver

    - name: Test Internal Package
      run: |
        go generate ./internal/webserver
        go test -json -v  ./internal/... 2>&1 | tee gotestinternal-${{ matrix.build.goos }}-${{ matrix.build.goarch }}.log | gotestfmt

    - name: Upload Test Log
      uses: actions/upload-artifact@v5
      if: success()
      with:
        name: internal-test-log-${{ matrix.build.goos }}-${{ matrix.build.goarch }}
        path: gotestinternal-${{ matrix.build.goos }}-${{ matrix.build.goarch }}.log
        if-no-files-found: error

    - name: Test Service
      run: |
        go test -json -v  ./cmd/openem-ingestor-service/ 2>&1 | tee gotestservice-${{ matrix.build.goos }}-${{ matrix.build.goarch }}.log | gotestfmt

    - name: Upload Test Log
      uses: actions/upload-artifact@v5
      if: success()
      with:
        name: service-test-log-${{ matrix.build.goos }}-${{ matrix.build.goarch }}
        path: gotestservice-${{ matrix.build.goos }}-${{ matrix.build.goarch }}.log
        if-no-files-found: error


  build_docker_image:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - uses: actions/checkout@v5

      - name: Log into registry ${{ env.REGISTRY }}
        # if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.INGESTOR_IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          build-args: |
            VERSION=${{ steps.meta.outputs.tags }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  build_service:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        build:
          - name: 'openem-ingestor-service'
            goos: linux
            goarch: amd64
            os: ubuntu-22.04
          - name: 'openem-ingestor-service'
            goos: windows
            goarch: amd64
            os: windows-latest
          - name: 'openem-ingestor-service'
            goos: darwin
            goarch: amd64
            os: macos-latest
          - name: 'openem-ingestor-service'
            goos: darwin
            goarch: arm64
            os: macos-latest
    steps:
    - uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'

    - name: Generate REST API and Docs
      run: go generate ./internal/webserver

    - name: Build Service
      run: GOOS=${{ matrix.build.goos }} GOARCH=${{ matrix.build.goarch }} go build -C ./cmd/openem-ingestor-service/ -v

