name: goreleaser

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  build_docker_image_release:
    permissions:
      packages: write
      contents: read
    uses: ./.github/workflows/ci.yaml
  # goreleaser-darwin:
  #   runs-on: macos-latest
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v5
  #       with:
  #         fetch-depth: 0
  #     - name: Set up Go
  #       uses: actions/setup-go@v5
  #       with:
  #         go-version: stable

  #     - name: Set up Wails
  #       run: go install github.com/wailsapp/wails/v2/cmd/wails@latest
        
  #     - name: Run GoReleaser
  #       uses: goreleaser/goreleaser-action@v6
  #       with:
  #         distribution: goreleaser
  #         version: latest
  #         args: release --clean --config .goreleaser_macos.yaml
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}